@{
    ViewData["Title"] = "Home Page";
}

<div >
    <main>
        <section class="hero">
            <h1>Welcome to Kapital Bank</h1>
            <p>Manage your finances easily and securely with our online banking services.</p>
            <a href="#">Learn More</a>
        </section>
        <h2 style="text-align: center; margin-top:20px;">Our Services</h2>
        <section class="services">
            <div class="service">
                <img src="icons/user-solid.svg" alt="Account Icon">
                <h3>Open an Account</h3>
                <p>Open a checking, savings, or investment account online.</p>
            </div>
            <div class="service">
                <img src="icons/comments-dollar-solid.svg" alt="Transfer Icon">
                <h3>Transfer Money</h3>
                <p>Easily transfer money between your accounts or to others.</p>
            </div>
            <div class="service">
                <img src="icons/money-bill-solid.svg" alt="Bill Pay Icon">
                <p>Pay your bills online quickly and conveniently.</p>
            </div>
        </section>
    </main>
</div>
